--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.14.0+cpu
flask
gunicorn
python-dotenv
pypdf
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
sentence-transformers
faiss-cpu
numpy
